.main-header {
	background-image: url(../img/bg-header.svg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	overflow: hidden;
}

.main-header__inner {
	position: relative;
	padding-top: 62px;
	padding-bottom: 80px;
}

.main-header__girl {
	position: absolute;
	bottom: 0px;
}

.main-header__girl img {
	display: block;
	height: 100%;
}

.main-header__girl--left {
	left: 0px;
	z-index: 2;
}

.main-header__girl--right {
	right: 0px;
}

.main-header__logo {
	display: block;
	max-width: 240px;
	margin: 0 auto;
	margin-bottom: 72px;
}

.main-header__logo img {
	display: block;
	margin: 0 auto;
}

.main-header__content {
	position: relative;
}

.main-header__holder input {
	font: inherit;
	display: block;
	width: 100%;
	background-color: #09223F;
	color: #fff;
	border: 2px solid #366799;
	outline: none;
	-webkit-box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	text-align: right;
	padding: 20px 24px;
}

.main-header__holder input::-webkit-input-placeholder {
	text-align: right;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	position: relative;
	top: 3px;
}

.main-header__holder input::-moz-placeholder {
	text-align: right;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	position: relative;
	top: 3px;
}

.main-header__holder input:-ms-input-placeholder {
	text-align: right;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	position: relative;
	top: 3px;
}

.main-header__holder input::-ms-input-placeholder {
	text-align: right;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	position: relative;
	top: 3px;
}

.main-header__holder input::placeholder {
	text-align: right;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	position: relative;
	top: 3px;
}

.main-header__text {
	font-size: 20px;
	line-height: 2.1;
	letter-spacing: 0.444444px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}

.main-header__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 10px;
}

.main-header__count {
	-webkit-align-self: end;
	-ms-flex-item-align: end;
	align-self: end;
	font: inherit;
	display: block;
	max-width: 220px;
	width: 100%;
	background-color: #09223F;
	color: #fff;
	border: 2px solid #366799;
	-webkit-box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.15), 0px 15px 12px rgba(0, 0, 0, 0.11);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 20px 24px;
	margin-right: 16px;
}

.main-header__btn {
	font: inherit;
	position: relative;
	cursor: pointer;
	display: block;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	font-size: 36px;
	line-height: 1.2;
	color: #ffffff;
	background: -webkit-linear-gradient(0.8deg, #FFDC25 0.14%, rgba(255, 138, 0, 0.73) 99.29%), #FFD90F;
	background: -o-linear-gradient(0.8deg, #FFDC25 0.14%, rgba(255, 138, 0, 0.73) 99.29%), #FFD90F;
	background: linear-gradient(89.2deg, #FFDC25 0.14%, rgba(255, 138, 0, 0.73) 99.29%), #FFD90F;
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border: none;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	outline: none;
	font-family: Noto Sans Arabic;
	font-style: normal;
	padding: 18px 10px;
	font-weight: bold;
}

.main-header__btn:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.3s opacity;
	-o-transition: 0.3s opacity;
	transition: 0.3s opacity;
	opacity: 0;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.main-header__btn:hover:after {
	opacity: 1;
}

.main-header__box {
	margin-bottom: 30px;
}

.main-header__box label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 0;
	padding-right: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-header__box label:before {
	content: '';
	position: absolute;
	top: 9px;
	right: 0;
	width: 16px;
	height: 16px;
	background-color: #ffc800;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.main-header__box label:after {
	content: '';
	position: absolute;
	font-size: 10px;
	border-color: #0b3a80;
	border-style: solid;
	border-width: 0 0.10em 0.10em 0;
	top: 14px;
	right: 8px;
	-webkit-transform: rotate(45deg) translate(0%, -50%);
	-ms-transform: rotate(45deg) translate(0%, -50%);
	transform: rotate(45deg) translate(0%, -50%);
	width: 0.5em;
	height: 0.8em;
	opacity: 0;
}

.main-header__box input {
	display: none;
}

.main-header__box input:checked + label:after {
	opacity: 1;
}

.custom-select-wrapper {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	background: #09223f;
	border: 2px solid #366799;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.custom-select {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.custom-select__trigger {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 28px;
	font-size: 20px;
	font-weight: 300;
	color: #3b3b3b;
	cursor: pointer;
	background-repeat: no-repeat;
	-webkit-background-size: 25px 25px;
	background-size: 25px 25px;
	min-height: 61px;
	background-position: center right 16px;
}

.custom-select__trigger span {
	position: absolute;
	right: 60px;
	font-size: 24px;
	line-height: 1.2;
	color: #fff;
}

.custom-options {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	border-top: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-top: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	pointer-events: none;
	z-index: 2;
}

.custom-options .custom-option:first-child {
	-webkit-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.custom-options .custom-option:last-child {
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}

.custom-select.open .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.custom-option {
	position: relative;
	display: block;
	background-repeat: no-repeat;
	-webkit-background-size: 25px 25px;
	background-size: 25px 25px;
	background-position: center right 16px;
	padding: 9px 20px 9px 40px;
	font-size: 22px;
	font-weight: 300;
	color: #09223f;
	background-color: #fff;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-option:hover {
	cursor: pointer;
	background-color: #b2b2b2;
}

.custom-option.selected {
	color: #ffffff;
	background-color: #305c91;
}

.arrow {
	position: relative;
	height: 10px;
	width: 10px;
	margin-left: 18px;
	margin-right: 10px;
}

.arrow::before,
.arrow:after {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 0.12rem;
	height: 100%;
	-webkit-transition: 0.5s -webkit-transform;
	transition: 0.5s -webkit-transform;
	-o-transition: 0.5s transform;
	transition: 0.5s transform;
	transition: 0.5s transform, 0.5s -webkit-transform;
}

.arrow::before {
	left: -3px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #ffffff;
}

.arrow::after {
	left: 3px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #ffffff;
}

.open .arrow::before {
	left: -3px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open .arrow::after {
	left: 4px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media screen and (max-width: 1050px) {

.main-header__girl--left {
	left: -100px;
}

.main-header__girl--right {
	right: -150px;
}

}

@media screen and (max-width: 780px) {

.main-header__logo {
	margin-bottom: 60px;
}

}

@media screen and (max-width: 560px) {

.main-header__inner {
	padding-bottom: 40px;
	padding-top: 40px;
	min-height: 930px;
}

.main-header__girl img {
	min-height: 760px;
}

.main-header__girl--left {
	left: -120px;
}

.main-header__girl--right {
	right: -320px;
}

.main-header__logo {
	margin-bottom: 50px;
}

.main-header__content {
	margin-top: 305px;
}

.main-header__content:after {
	position: absolute;
	content: ' ';
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 8, 28, 0.8);
	-webkit-filter: blur(60px);
	filter: blur(60px);
}

.main-header__holder {
	margin: 0 14px;
}

.main-header__wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 14px;
}

.main-header__count {
	max-width: 100%;
	margin-right: 0px;
	margin-bottom: 16px;
}

.main-header__box {
	margin: 0 14px;
	margin-bottom: 15px;
}

.custom-select-wrapper {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
	margin-bottom: 16px;
}

}

